<div id="content">

	<div>
		<form method="POST" action = "/submitted_post" display = "inline-block">
			<span class = 'form_text'>Name</span><br>	
			<input type="text" name="name" placeholder="  ..." id="userBox_style"><br><br><br>
			
			<span class = 'form_text'>Email Address</span><br>
			<input type="text" name="email" placeholder="  ..." id="passwordBox_style"><br><br><br>
			
			<span class = 'form_text'>Message</span><br>
			<input type="text" name="message" placeholder="  ..." id="messageBox_style"><br><br><br>			
	
			<input class="myButton" type = "submit" onclick="submitted_post">

		</form>

		<br>

<!-- 		<a class="myButton" onclick="/submitted_post">Submit</a> -->
	</div>

</div>