<body>

	<div id="content">

		<div id="one">Who We Are</div>
		<div id="two"></div>
		<div id="three">What We Do</div>
		
		<div id="Homepage_text">
			<p id="Intro_left"> <img src="pics/dog.jpg" id="flow">
			The American Society for the Prevention of Cruelty to Animals (ASPCA) was the first humane society to be established in North America and is, today, one of the largest in the world. Our organization was founded by Henry Bergh in 1866 on the belief that animals are entitled to kind and respectful treatment at the hands of humans, and must be protected under the law. Headquartered in New York City, the ASPCA maintains a strong local presence, and with programs that extend our anti-cruelty mission across the country, we are recognized as a national animal welfare organization. We are a privately funded 501(c)(3) not-for-profit corporation, and proud to boast more than 1 million supporters across the country.
			</p>

			<p id="Intro_right"> <img src="pics/cat.jpg" id="flow">
			As the first humane organization to be granted legal authority to investigate and make arrests for crimes against animals, we are wholly dedicated to fulfilling the ASPCA mission through nonviolent approaches. Our organization provides local and national leadership in three key areas: caring for pet parents and pets, providing positive outcomes for at-risk animals and serving victims of animal cruelty. For more on our work in each of these areas, please visit our programs and services page.
			</p>
		<div>	
	</div>
</body>
