<html>
<head>
	<title>ASCPA_Project</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<nav> 
		<img src="pics/aspcalogo.jpg">
		<div id="navtop"></div>
		<div id="navbottom"></div>
	</nav>

	<div id="leftcolumn">
		<ul>
			<li><a href="home">Home</a></li>
			<li><a href="testimonial">Testimonials</a></li>
			<li><a href="donate">DONATE</a></li>
			<li><a href="petcare">Pet Care</a></li>
			<li><a href="http://www.aspcaonlinestore.com/">Shop</a></li>
			<li><a href="contact">Contacts</a></li>
			<li><a href="contact_us">Contact Us</a></li>
		</ul>
	</div>

	<%= yield %>
</body>
</html>