<div id="content">

				<div class="col1">
	<img class="pic1">			
	<img src="pics/dog-care-general.jpg" width="240px">
	<h3>General Dog Care</h3>

	<p>Experts say that dogs were domesticated between 12,000 and 25,000 years ago—and that all dogs evolved from the wolf. Since then, humans have selectively bred more than 400 breeds, ranging in size from four-pound teacup poodles to Irish wolfhounds, whose three-foot stature earns them the title of tallest canine. But the most popular pooches are non-pedigree—the one-of-a-kind dogs known as mixed-breeds.</p>

	Cost

	<p>The annual cost of a small dog—including food, veterinary care, toys and license—is $420. Make that $620 for a medium dog and $780 for a large pooch. This figure doesn’t include capital expenses for spay/neuter surgery, collar and leash, carrier and crate.</p>

	<p>Note: Make sure you have all your supplies (see our checklist) before you bring your dog home.</p>

	<h4>Basic Care</h4>

	Feeding

	<ul>  
	<li>Puppies 8 to 12 weeks old need four meals a day.</li>
	<li>Feed puppies three to six months old three meals a day.</li>
	<li>Feed puppies six months to one year two meals a day.</li>
	<li>When your dog reaches his first birthday, one meal a day is usually enough.</li>
	<li>For some dogs, including larger canines or those prone to bloat, it's better to feed two smaller meals.</li>
	</ul>

	<p>Premium-quality dry food provides a well-balanced diet for adult dogs and may be mixed with water, broth or canned food. Your dog may enjoy cottage cheese, cooked egg, fruits and vegetables, but these additions should not total more than ten percent of his daily food intake.</p>

	<p>Puppies should be fed a high-quality, brand-name puppy food. Please limit "people food," however, because it can result in vitamin and mineral imbalances, bone and teeth problems and may cause very picky eating habits and obesity. Clean, fresh water should be available at all times, and be sure to wash food and water dishes frequently.</p>

	<p><h4>Exercise</h4>
	Dogs need exercise to burn calories, stimulate their minds, and keep healthy. Exercise also tends to help dogs avoid boredom, which can lead to destructive behaviors. Supervised fun and games will satisfy many of your pet's instinctual urges to dig, herd, chew, retrieve and chase.</p>

	<p>Individual exercise needs vary based on breed or breed mix, sex, age and level of health—but a couple of walks around the block every day and ten minutes in the backyard probably won’t cut it. If your dog is a 6- to 18-month adolescent, or if she is an active breed or mixed-breed from the sporting, herding, hound or terrier groups, her requirements will be relatively high.</p>

	<p><h4>Grooming</h4>
	You can help keep your dog clean and reduce shedding with frequent brushing. Check for fleas and ticks daily during warm weather. Most dogs don't need to be bathed more than a few times a year. Before bathing, comb or cut out all mats from the coat. Carefully rinse all soap out of the coat, or the dirt will stick to soap residue. Click here for more grooming tips.</p>

	<p><h4>Handling</h4>
	Small dogs, sometimes referred to as "lap dogs," are the easiest to handle. To carry a puppy or small dog, place one hand under the dog's chest, with either your forearm or other hand supporting the hind legs and rump. Never attempt to lift or grab your puppy or small dog by the forelegs, tail or back of the neck. If you do have to lift a large dog, lift from the underside, supporting his chest with one arm and his rear end with the other.</p>

	<p><h4>Housing</h4>
	Your pet needs a warm, quiet place to rest, away from all drafts and off the floor. A training crate is ideal. You may wish to buy a dog bed, or make one out of a wooden box. Place a clean blanket or pillow inside the bed. Wash the dog's bedding often. If your dog will be spending a lot of time outdoors, be sure she has access to shade and plenty of cool water in hot weather, and a warm, dry, covered shelter when it's cold.</p>

	<p><h4>Licensing and Identification</h4>
	Follow your community’s licensing regulations. Be sure to attach the license to your dog’s collar. This, along with an ID tag and implanted microchip or tattoo, can help secure your dog’s return should he become lost.</p>

	<h3>Behavior Information</h3>

	<p><h4>Training</h4>
	A well-behaved companion canine is a joy. But left untrained, your dog can cause nothing but trouble. Teaching your dog the basics—"Sit," "Stay," "Come," "Down," "Heel," "Off" and "Leave it"—will improve your relationship with both your dog and your neighbors. If you have a puppy, start teaching him his manners as soon as possible! Use little bits of food as a lure and reward. Puppies can be enrolled in obedience courses when they have been adequately vaccinated. Contact your local humane society or SPCA for training class recommendations.</p>

	You should always keep your puppy or dog on a leash in public. Just be sure your pet will come to you at all times whenever you say the word. A dog who is disobedient or aggressive is not ready to play with others.

	<h3>Health</h3>

	<p>Your dog should see the veterinarian for a full check-up, shots and a heartworm blood test every year, and immediately if he is sick or injured.</p>

	<p><h4>Dental Health</h4>
	While many of us may object to our pet's bad breath, we should pay attention to what it may be telling us. Bad breath is most commonly an indication that your dog is in need of a dental check up. Dental plaque caused by bacteria results in a foul smell that requires professional treatment. After a professional cleaning, the teeth and gums may be maintained in a healthy state by brushing the teeth regularly, feeding a specially formulated dental diet and treats, and avoiding table scraps. Your veterinarian can give you more tips on minimizing dental disease and bad breath.</p>

	<p>You can clean your canine’s teeth with a dog toothpaste or a baking-soda-and-water paste once or twice a week. Use a child's soft toothbrush, a gauze pad or a piece of nylon pantyhose stretched over your finger.</p>

	<p>Some dogs are prone to periodontal disease, a pocket of infection between the tooth and the gum. This painful condition can result in tooth loss and spread infection to the rest of the body. Veterinarians can clean the teeth as a regular part of your dog's health program.</p>

	<p><h4>Bad Breath</h4>
	While bad breath caused by dental disease may not be too serious if caught early enough, some odors may be indicative of fairly serious, chronic problems. Liver or intestinal diseases may cause foul breath, whereas a sweet, fruity smell may be indicative of diabetes. If your dog’s breath smells like ammonia or urine, kidney disease is a possibility. Any time you notice your pet has bad breath accompanied by other signs of ill health, such as loss of appetite, vomiting, weight loss, depression, excessive drinking or urinating, schedule a visit to the veterinarian.</p>

	<p><h4>Fleas and Ticks</h4>
	Daily inspections of your dog for fleas and ticks during the warm seasons are important. Use a flea comb to find and remove fleas. There are several new methods of flea and tick control. Speak to your veterinarian about these and other options.</p>

	<p><h4>Heartworm</h4>
	This parasite lives in the heart and is passed from dog to dog by mosquitoes. Heartworm infections can be fatal. Your dog should have a blood test for heartworm every spring—this is crucial for detecting infections from the previous year. A once-a-month pill given during mosquito season will protect your dog. If you travel south with your pet during the winter, your dog should be on the preventive medicine during the trip. In some warmer regions, veterinarians recommend preventive heartworm medication throughout the year.</p>

	<p><h4>Medicines and Poisons</h4> 
	Never give your dog medication that has not been prescribed by a veterinarian. For example, did you know that one regular-strength ibuprofen tablet can cause stomach ulcers in a ten-pound dog? Keep rat poison and other rodenticides away from your pet. If you suspect that your animal has ingested a poisonous substance, call your veterinarian or the ASPCA Animal Poison Control Center for 24-hour animal poison information at (888) 426-4435.</p>

	<p><h4>Spaying and Neutering</h4>
	Females should be spayed—the removal of the ovaries and uterus—and males neutered—removal of the testicles—by six months of age. Spaying before maturity significantly reduces the risk of breast cancer, a common and frequently fatal disease of older female dogs. Spaying also eliminates the risk of an infected uterus, a very serious problem in older females that requires surgery and intensive medical care. Neutering males prevents testicular and prostate diseases, some hernias and certain types of aggression.</p>

	For more on this important surgery, read our top ten reasons to spay or neuter your pet.

	<p><h4>Vaccinations</h4> 
	<ul>
	<li>Puppies should be vaccinated with a combination vaccine (called a “5-in-1”) at two, three and four months of age, and then once annually. This vaccine protects the puppy from distemper, hepatitis, leptospirosis, parvovirus, and parainfluenza. A puppy's vaccination program cannot be finished before four months of age.</li>
	<li>If you have an unvaccinated dog older than four or five months, he will need a series of two vaccinations given two to three weeks apart, followed by a yearly vaccination.</li>
	<li>Puppy vaccination and socialization should go together. Many veterinarians recommend that new owners take their puppies to socialization classes, beginning at 8 to 9 weeks of age. At this age, they should have received at least their first series of vaccines. Learn more about the importance of puppy socialization.</li>
	</ul>

	<p>Since laws vary around the country, contact a local veterinarian for information on rabies vaccination. In New York City, for example, the law requires all pets older than three months of age to be vaccinated for rabies. The first rabies vaccine must be followed by a vaccination a year later, and then every three years.</p>

	<p>There are a variety of vaccines that may or may not be appropriate for your pet. Your veterinarian can tell you about them.</p>

	<p>Please note, if your pet gets sick because he is not properly vaccinated, the vaccination should be given after your companion animal recovers.

	<p><h4>Worms</h4> 
	Dogs are commonly exposed to worms and possible infestation—even in urban areas. Microscopic eggs produced by intestinal worms are passed in an infected dog’s feces. Most puppies, even from healthy mothers in good homes, carry roundworms or hookworms.</p>

	<p>The key to treatment is correct diagnosis. This will ensure that the medication is effective against the parasite your pet has. A dewormer that eliminates roundworms, for example, will not kill tapeworms. Your veterinarian can best determine the culprit—and prescribe the appropriate medication.</p>

	<p><h4>Fun Facts</h4>
	<ul>
	<li>The nose knows! Your dog can detect odors about a billion times better than you can.</li>
	<li>The average lifespan of a dog varies from 8 to 16 years, depending on breed type, size, genetics and care.</li></ul></p>

	<p><h4>Dog Supply Checklist</h4>
	<ul>
	<li>Premium-quality dog food and treats</li>
	<li>Food dish</li>
	<li>Water bowl</li>
	<li>Toys, toys and more toys, including safe chew toys</li>
	<li>Brush & comb for grooming, including flea comb</li>
	<li>Collar</li> with license and ID tag</li>
	<li>Leash</li>
	<li>Carrier (for smaller dogs)</li>
	<li>Training crate</li>
	<li>Dog bed or box with warm blanket or towel</li>
	<li>Dog toothbrush</li></ul></p>

	<h4>The No-No List</h4>

	<p><h4>Do not feed your dog the following:</h4>
	<ul>
	<li>Alcoholic beverages</li>
	<li>Chocolate</li>
	<li>Coffee</li>
	<li>Grapes & raisins</li>
	<li>Moldy or spoiled food</li>
	<li>Onions, garlic & chives</li>
	<li>Poultry bones</li>
	<li>Salt & salty foods</li>
	<li>Tomato leaves, stems & unripe fruit</li>
	<li>Yeast dough</li>
	</ul>
	</p>

	<p><h4>The Scoop on Poop</h4>

	Keep your dog on a leash when you are outside, unless you are in a secured, fenced-in area. If your dog defecates on a neighbor's lawn, the sidewalk or any other public place, please clean it up.</p>
	</div>

	<div class="col2">
	<img class="pic2">
	<img src="pics/feeding-older-cats.jpg" width="240px">
	<h3>Cat Grooming</h3>
	<P>Brushing your cat not only removes dirt, grease and dead hair from her coat, but it helps to remove skin flakes and stimulates blood circulation, improving the overall condition of her skin. One or two brushings per week will help kitty to keep her healthy glow and allow her to bask in yummy together time—and you’ll find that regular sessions are especially beneficial when your cat ages and is no longer able to groom so meticulously on her own.</P>

	<p><h4>Healthy Coat and Skin</h4>

	Before brushing, check out the condition of your kitty’s coat. If it’s healthy, her hair will have a natural gloss and spring back under your hand when you touch it. There shouldn’t be any bald patches or signs of fleas and ticks, and her skin should be free of wounds and unusual bumps.</p>

	<p><h4>Brushing Short-Haired Cats</h4>

	With a metal comb, work the brush through your cat’s fur from head to tail to remove dirt and debris. Make sure to work along the lie of her fur, brushing in the direction the coat grows. If you brush in the reverse direction, you’ll lift the hair up and back—an uncomfortable feeling for kitty. Brush all over her body, including her chest and abdomen, concentrating on one section at a time to remove dead hair and tangles. A rubber brush can be especially effective for removing dead hair on cats with short fur.</p>

	<p><h4>Brushing Long-Haired Cats</h4>

	Long-haired cats who live out in the wild shed every spring, but those who live indoors with artificial light and heating shed throughout the year and need grooming sessions every few days to remove dead hair and prevent tangles. Start with kitty’s abdomen and legs, gently combing the fur upward toward her head. Comb the neck fur upward, too, toward her chin. Finally, make a part down the middle of her tail and gently brush out the fur on either side. You can sprinkle talcum powder over knots and gently use your fingers to tease them apart. If the knots don’t come out by hand, try using a mat-splitter.</p>

	<p><h4>Body Checks</h4>

	During your weekly grooming sessions, run your hands along your cat’s body, checking for wounds, bumps and hidden tangles. Also check for ticks and flea dirt, black specks of dried blood left behind by fleas. Sneak a peek under her tail to check for feces attached to the fur that may need to be snipped away with scissors. It’s also important to check around your cat’s anus for tan, rice-sized objects—these may indicate the presence of tapeworm.</p>

	<p><h4>Skin Problems</h4>

	Cats can also suffer from skin conditions that don’t involve fleas, ticks or other parasites. If your cat shows any of the following signs, please have her examined by your vet:</p>

	<ul>
	<li>Persistent scratching</li>
	<li>Excessive licking and grooming</li>
	<li>Biting at the skin and coat</li>
	<li>Swelling under the skin</li>
	<li>Increased shedding/bald patches</li>
	<li>Hairballs</li>
	</ul>

	<p>Neglecting to brush your kitty’s coat can lead to painful tangles and a bellyful of hair. You’ll know if your cat is suffering from hairballs when he coughs them up onto the floor or expels them in his feces. If, despite regular brushing, your cat continues to suffer from hairballs, there are several remedies available. Please ask your vet to recommend a solution.</p>

	<p><h4>Nervous grooming</h4>

	A healthy cat grooms himself regularly and fastidiously. However, if your cat obsessively licks certain parts of his body, giving himself bald spots and sores, please bring him in for a veterinary exam. The cause might be fleas, an allergy or stress that can be resolved by altering something in your cat’s environment.</p>

	<p><h4>Diet</h4>

	Many hair and skin problems can be linked to a poor—possibly allergy-causing—diet. A nutritionally complete food that is appropriate for your cat’s age and the amount of exercise she does, plenty of fresh water and not too many treats should bring a glow to her skin and coat. Check with your vet to help determine the right food and optimum feeding schedule for your cat.</p>
	</div>


	<div class="col3">
	<img class="pic3">
	<img src="pics/small-pet-gerbil-care.jpg" width="240px">
	<h3>Gerbil Care</h3>
	<p>Gerbils are native to many parts of the world, but the type of gerbil commonly kept as a pet is the Mongolian. These busy little rodents generally grow to about four inches, with a tail of the same length. Pet gerbils are available in a variety of colors, although they usually have white fur on their bellies. If well cared for, gerbils usually live for three to four years.</p>

	<p>All gerbils are very frisky, and can easily escape from a cage that isn’t closed securely. Their eyesight isn’t very good, so you’ll need to take extra care they don’t fall or otherwise hurt themselves when they are exercising outside the cage. Their hearing and sense of smell, however, are both very acute.</p>

	<p>The ASPCA heartily recommends gerbils as pets for older children who have mastered proper handling techniques. These gentle critters are hearty and seldom bite. And unlike hamsters, Mongolian gerbils are active during the day, which fits in well with a child’s schedule.</p>

	<p><h4>Cost</h4>

	When you first get your pet, you’ll need to spend about $35 for a cage. Food runs about $50 a year, plus $20 annually for toys and treats, and $220 annually for litter and bedding material. We recommend purchasing your gerbils from a breeder or, even better, adopting them from a local shelter or small-animal rescue group.</p>

	<p><h4>Housing</h4>

	Gerbils are social, so it’s a good idea to get at least two. If you introduce them when they’re young, there’s an excellent chance you’ll have a successful match—especially if you choose gerbils from the same litter. Please do not keep males and females together, or they will breed.</p>

	<p>Get your gerbils set up in a wire cage or a 10-gallon aquarium that has a wire mesh cover. The enclosure should be placed away from direct sunlight and drafts, and lined with absorbent bedding. Timothy hay and aspen shavings are good choices, but avoid using pine or cedar shavings at all costs—the fumes from these products may be harmful to the animal. Also make sure that you change the litter often enough to keep it dry and odor-free.</p>

	<p>Gerbils love to play, so be sure to provide yours with an exercise wheel that does not have any openings in which their tails can get caught. Toys will be much appreciated, but avoid toys made of soft plastic or cardboard— they will almost certainly be chewed to bits! Gerbils also like to hide and sleep inside enclosed spaces, so it’s a good idea to place a small box or flower pot for this purpose.</p>

	<p>Gerbils also love to dig, so provide yours with plenty of extra bedding, hay or shredded paper towels. Tunneling’s fun for your pets, too. Large, sturdy tubes— those made from PVC, for example— will serve this purpose. And finally, don’t forget to place a smooth, clean stone or rock in your gerbils’ home. This will serve as a lookout for your naturally curious pets.</p> 

	<p><h4>Diet</h4>

	<p>Your pets will do well on a good commercial gerbil seed mix with a protein content of about 12 percent, and a fat content in the 6- to 8-percent range. Nutritionally complete, gerbil mix is made up of pellets, grains, seeds and dried vegetables, and is readily available at pet supply stores. If you offer your pets a mix that includes sunflower seeds, you may notice them picking out these tasty treats first and leaving the high-protein, ultra-nutritious seeds for later. Don’t worry—they’ll eventually eat the good stuff, so please resist the urge to refill the bowl or offer more sunflower seeds, which are high in fat.</p>

	<p>The ASPCA recommends offering small amounts of fresh vegetables to your gerbils every day. Carrots, leaf lettuces, turnips, and broccoli are good choices. Offer small amounts of sweet fruit such as apples and bananas every other day, but take care to introduce new foods gradually.  Don’t forget to clean up any leftover fresh food before it spoils.</p>

	<p>Fresh, clean water should be available at all times. It is best to use an inverted bottle with a drinking tube, and change the water daily.</p>

	<p>Do not give your pets cabbage, potatoes, onions, uncooked beans, chocolate, candy or junk food.</p>

	<p><h4>General Care & Veterinary Care</h4>

	Remove soiled bedding, droppings and any uneaten food every day. Clean the cage completely once a week by replacing dirty bedding and scrubbing the bottom of the cage with warm water and a liquid soap that’s safe for animals. Be sure everything’s dry before adding fresh bedding.</p>

	<p>Did you know that gerbils’ teeth grow continuously, just like those of all other rodents? That’s why it is important that you provide yours with either a sterilized bone to gnaw on, or a twig that has not been treated with pesticides, chemicals or paints. This is crucial for keeping their teeth in tip-top condition and will prevent dental problems.</p>

	<p>It’s important that you get your pets used to you—and used to being handled. Start by feeding them small treats. When they’re comfortable with that, you can pick them up by scooping them into your hand. Never pick up a gerbil by the tail, as this can cause injury.</p>

	<p>When you’ve successfully hand-tamed your pets, you can allow them to run around outside of their cage for a supervised period of time each day. However, be sure to keep them in one room or screened-off area that has been checked carefully for any places from which they can escape, become lost or get hurt.</p>

	<p><h4>Veterinary Care</h4>

	If you think one of your gerbils is sick, don’t delay—seek medical attention immediately. Common signs that something isn’t right with your pet include sneezing, difficulty breathing, diarrhea and lethargy. Gerbils are also susceptible to external parasites such as fleas and lice. If you think your pet is infested, you’ll need to treat both the animal, housing and surrounding environment.</p>

	<p><h4>Gerbil Supply Checklist</h4>

	<ul>
	<li>10-gallon aquarium (minimum) with wire cover or wire cage - Gerbil mix</li> 
	<li>Aspen or hardwood shavings</li> 
	<li>Hay, extra shavings or shredded paper towels for digging</li> 
	<li>Small boxes or flower pots</li> 
	<li>Exercise wheel (solid, no rungs)</li> 
	<li>Cardboard tubes (recycle from paper towel and toilet paper rolls) or PVC tubes</li> 
	<li>Attachable water bottle with drinking tube</li> 
	<li>Unpainted, untreated piece of wood, sterilized bone, or safe chew toy</li>
	</ul></p>

</div>
	