<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>

		<nav> 
			<img src="aspcalogo.jpg">
			<div id="navtop"></div>
			<div id="navbottom"></div>
		</nav>



		<div id="leftcolumn">

			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="testimonial.html">Testimonials</a></li>
				<li><a href="donate.html">DONATE</a></li>
				<li><a href="petcare.html">Pet Care</a></li>
				<li><a href="http://www.aspcaonlinestore.com/">Shop</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>

		</div>

		<div id="content">

		</div>
	</body>
</html>