<div id="content">

	<div id="contenttest">

		<h1>Testimonials</h1>

		<h3>A Cat Named Dulcinea</h3>

		<img src="http://www.aspca.org/sites/default/files/styles/medium_image_300x200/public/field/image/blog/aspca-happy-tails-a-sweet-life-for-dulcie-600x400.jpg?itok=ttk36QjW" id="testfirstimage">

		<p class="test">When an animal has been through trauma, the ASPCA Animal Hospital has all the tools, experience and expertise needed to provide life-saving care. But although we are pros at administering medicine and conducting surgery, we know there is only one proven treatment that can heal broken a heart: a loving "forever home." Here is the story of one such patient, a cat named Dulcinea.</p>

		

		<p class="test">In June 2014, Dulcinea (Dulcie for short) was found as a stray on the Bruckner Expressway in the Bronx, New York. She arrived at the ASPCA Animal Hospital in pain, suffering from unknown trauma that left her with lower jaw wounds and a burn on her back. She underwent surgery to remove the damaged skin tissue, and was soon transferred to the ASPCA Adoption Center to begin her search for a forever home.</p>

		<p class="test">At the Adoption Center, Dulcie grew increasingly standoffish. She was wary of people and animals, and it became apparent that her harrowing history had left her with lingering emotional wounds. She was having trouble wooing potential adopters until, four months later, a woman named Susan S. showed up and changed everything.</p>

		<p class="test">Last year, Susan lost both of her cats, Marabou and Molly-Plume, to lymphoma less than six months apart. Devastated and missing her feline companions, she agreed to join her daughter, an ASPCA volunteer named Allana, on a trip to our Adoption Center. "Of course we looked around at the cats who needed a home," Susan recalls. "That's when a feline behaviorist introduced me to a quiet little 16-month-old female cat who didn't like being caged, didn't like other cats and didn't like people much, either."</p>

		<img src="http://www.aspca.org/sites/default/files/aspca-happy-tails-a-sweet-life-for-dulcie-589x393.jpg" id="testsecondimage">

		<p class="test">Although Dulcie was, in Susan's words, "physically well but socially reticent," Susan was intrigued by the green-eyed kitty. "When she came out of her cage to meet me, she seemed relatively relaxed and allowed me to stroke her head and scratch her chin." At home that night, Susan's couldn't stop thinking about Dulcie, so she returned the next day and made the adoption official. "Although I have had a shelter cat or two all my adult life, Duclie is the first one with an ASPCA 'pedigree,'" she says with a smile.</p>

		<p class="test">At Susan's apartment in Manhattan, Dulcie made herself right at home. Susan says, "On arrival, she got a quiet private room, a cozy bed and all her necessities right at paw...Food, water ,litter box, scratching board, small toys. Within a day, she made it clear that she wanted to leave her room to explore. She promptly made the full apartment her own."</p>

		<p class="test">Over the next six months, Dulcie continued to transform. "She has flourished in every possible way," Susan says proudly. "Her weight has gone from 7.5 pounds to a pleasingly round 10 pounds. Her coat has grown plush and glossy. She has found both her voice (chirp as well as meow) and her purr." Dulcie now spends her days playing, chasing her toys, and enjoying the sweet life Susan has given her.</p>

		<p class="test">Susan adds, "Dulcie is not a cuddler but she is delightfully companionable. She routinely goes to her bed when I go to my bed at night, to her chair when I go to my chair at the end of the day. She's also exceptionally intelligent and resourceful. It is a 'happy tail indeed!'"</p>

		<p class="test">After traumatic injuries and a terrifying ordeal on the expressway, Dulcie was clearly ready for a peaceful, happy home-and fortunately, she found it with Susan. Congratulations to this happy pair!</p>

		<img src="http://www.aspca.org/sites/default/files/aspca-happy-tails-a-sweet-life-for-dulcie-589x567.jpg" id="testthirdimage">
	</div>	
</div>
